@import "../../variables";

.header {
  padding-top: 1.4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  &--stacked {

    .header__list-item {
      flex: 0 0 100%;
      text-align: right;
    }

    .header__list-item--home {
      flex-basis: auto;
      text-align: left;

      + .header__list-item {
        flex-basis: auto;
      }
    }

    .header__list {
      flex-wrap: wrap;
    }
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__list-item {
  margin-left: 3.125rem;
}

.header__link {
  color: $secondary;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__list-item--home {
  margin-right: auto;
  margin-left: 0;
}
