<header class="header">
  <nav class="container">
    <ul class="header__list">
      <li class="header__list-item header__list-item--home">
        <a routerLink="/" class="header__link" routerLinkActive="header__link--active">vellip</a>
      </li>
      <li *ngFor="let item of headerLinks; let i = index" class="header__list-item" [appParallax]="
        [{ property: 'transform', speed: 10, value: 'translateY(%dpx)', end: 90 - (30 * (headerLinks.length - i)),
          delay: i === headerLinks.length - 1 ? 0 : 360 + 90 * (headerLinks.length - i)},
        { property: 'transform', speed: 10, value: 'translateX(%dpx)', end: 120 * (headerLinks.length - i - 1), delay: 140 * (headerLinks.length - i)}]
      ">
        <a routerLink="{{item.href}}" class="header__link" routerLinkActive="header__link--active">{{item.label}}</a>
      </li>
    </ul>
  </nav>
</header>
