<footer class="footer">
  <div class="container">
    <div class="footer__section">
      <h2 class="footer__label">Schreib mir mal.</h2>
      <a href="mailto:mail@vellip.de?subject=Hallöchen" class="footer__value">mail@vellip.de</a>
    </div>
    <div class="footer__section">
      <h2 class="footer__label">Bisschen plaudern?</h2>
      <p class="footer__value">+49 (0)170 38 72 190</p>
    </div>
    <div class="footer__section footer__section--right">
      <nav>
        <ul class="footer__list">
          <li><a href="https://medium.com/@vellip" target="_blank"><i class="fab fa-medium-m" aria-label="Medium Profil"></i></a></li>
          <li><a href="https://twitter.com/vellip_" target="_blank"><i class="fab fa-twitter" aria-label="Twitter Profil"></i></a></li>
          <li><a href="https://www.linkedin.com/in/philipp-veller-webdev/" target="_blank"><i class="fab fa-linkedin-in" aria-label="LinkedIn Profil"></i></a></li>
          <li><a href="https://github.com/vellip" target="_blank"><i class="fab fa-github" aria-label="Github Profil"></i></a></li>
        </ul>
        <a routerLink="/page/impressum-datenschutz">Impressum & Datenschutz</a>
      </nav>
    </div>
  </div>
</footer>
