<div class="container">
  <app-intro [title]="'Projekte und <br>Case Studies'"></app-intro>
  <app-shape [shape]="'rectangle'"></app-shape>
  <app-shape *ngIf="(projects$ | async)?.length > 4" [shape]="'circle'"></app-shape>
  <app-shape *ngIf="(projects$ | async)?.length > 4" [shape]="'triangle'"></app-shape>
  <div class="row projects__list" *ngIf="projects$ && (projects$ | async)?.length">
    <div class="col-lg-6" *ngFor="let project of projects$ | async">
      <app-project-teaser [gridStyle]="true"
                          [project]="project"></app-project-teaser>
    </div>
  </div>
</div>
