<app-intro [title]="'Projekte und <br>Case Studies'"></app-intro>

<div class="container">
  <app-shape [shape]="'rectangle'" [parallaxKey]="'transform: translate(0, %dpx)'" [speed]="6"></app-shape>
  <app-shape *ngIf="(projects$ | async)?.length > 4" [shape]="'circle'" [parallaxKey]="'transform: translate(%dpx, 0)'" [speed]="-2"></app-shape>
  <app-shape *ngIf="(projects$ | async)?.length > 4" [shape]="'triangle'" [parallaxKey]="'transform: translate(%dpx, 0)'" [speed]="-2"></app-shape>
  <div class="row projects__list" *ngIf="projects$ && (projects$ | async)?.length">
    <div class="col-sm-6" *ngFor="let project of projects$ | async">
      <app-project-teaser [gridStyle]="true"
                          [project]="project"></app-project-teaser>
    </div>
  </div>
</div>
