.container {
  position: relative;
}

:host ::ng-deep .shape--triangle svg {
  width: 800px;
  height: auto;
  position: absolute;
  z-index: -1;
}

:host ::ng-deep .shape--circle svg {
  height: 700px;
  width: auto;
  position: absolute;
}

:host ::ng-deep .shape--rectangle svg {
  width: 100vw;
  height: 220px;
  position: absolute;
  top: -14vh;
  left: 0;
}
