.projects__list {
  margin-bottom: 120px;
}

:host ::ng-deep .shape--triangle {
  width: 800px;
  height: auto;
  position: absolute;
  right: 60%;
  top: 0;
}

:host ::ng-deep .shape--circle {
  height: 700px;
  width: 700px;
  position: absolute;
  top: 0;
  left: 80%;
}

:host ::ng-deep .shape--rectangle {
  width: 100vw;
  height: 220px;
  position: absolute;
  top: 330px;
  left: 80px;
}
