<app-intro [title]="'Projekte und <br>Case Studies'"></app-intro>

<div class="container">
  <app-shape [shape]="'rectangle'"></app-shape>
  <app-shape [shape]="'circle'"></app-shape>
  <app-shape [shape]="'triangle'"></app-shape>
  <div class="row" *ngIf="projects$ && (projects$ | async)?.length">
    <div class="col-sm-6">
      <app-project-teaser [gridStyle]="true" *ngFor="let project of projects$ | async"
                          [project]="project"></app-project-teaser>
    </div>
  </div>
</div>
