<section class="intro" [ngClass]="{'intro--big': pre}">
  <div class="container">
    <div class="h1 intro__pre" *ngIf="pre">
      <app-shape *ngIf="showShapes" [shape]="'rectangle'" class="intro__shape intro__shape--rectangle"></app-shape>
      {{pre}}
    </div>
    <h1 class="intro__title" [ngClass]="{'intro__title--indent': pre}">
      <app-shape *ngIf="showShapes" [shape]="'triangle'" class="intro__shape intro__shape--triangle"></app-shape>
      <span [innerHTML]="title"></span>
    </h1>
    <app-shape *ngIf="showShapes" [shape]="'circle'" class="intro__shape intro__shape--circle"></app-shape>
  </div>
</section>
