.intro {
  margin-top: 210px;
  margin-bottom: 100px;

  .container  {
    position: relative;
  }
}

.intro--big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  margin-top: 0;
  margin-bottom: 110px;
}

.intro__pre {
  margin-top: 15vh;
  margin-bottom: 0;
}

.intro__title {
  line-height: 1.04;
  position: relative;
  margin-bottom: 0;
}
