:host ::ng-deep .intro__title {
  display: inline-block;
  position: relative;
}

:host ::ng-deep .shape--triangle {
  width: 120px;
  height: 136px;
  z-index: -1;
  right: -40px;
  bottom: -60px;
  transform-origin: 50% 0;
}

:host ::ng-deep .shape--circle {
  width: 100px;
  height: auto;
  bottom: 0;
  left: 40%;
}

:host ::ng-deep .shape--rectangle {
  width: 200px;
  height: 40px;
  left: -20px;
  bottom: 0;
}

.project-detail__head {
  display: block;
  margin-top: 210px;
  margin-bottom: 100px;
}

.project-detail__intro {
  margin-bottom: 120px;

  &:before {
    content: '____';
  }
}

.project-detail__body {
  margin-bottom: 120px;

  ::ng-deep h2 {
    margin-top: 70px;
    margin-bottom: 15px;
  }
}
