<ng-container *ngIf="project$ | async as project">
  <app-intro [title]="project.title" [showShapes]="true"></app-intro>
  <app-shape [shape]="'circle'" class="intro__shape intro__shape--circle"></app-shape>
  <app-shape [shape]="'triangle'" class="intro__shape intro__shape--triangle"></app-shape>
  <app-shape [shape]="'rectangle'" class="intro__shape intro__shape--rectangle"></app-shape>
  <div class="container container--body">
    <div class="row">
      <div class="col-sm-6">
        <p class="project-detail__intro">{{project.intro}}</p>
      </div>
      <div class="col-sm-6">
        <app-fact-list [facts]="project.facts"></app-fact-list>
      </div>
    </div>
  </div>
  
  <div class="container">
    <app-project-images [images]="project.gallery"></app-project-images>
  </div>

  <div class="container container--copy project-detail__body">
    <ng-container *ngFor="let component of project.body">
      <div [innerHTML]="component.toHtml()"></div>
    </ng-container>
  </div>
</ng-container>
