.shape,
.shape ::ng-deep svg {
  z-index: -1;
  transition: transform 0.1s ease-in-out;
  position: absolute;
}

.shape--squiggle {
  stroke-dasharray: 100%;
  transition: stroke-dashoffset 0.1s ease-in-out;
}
