$primary: #ffd91a;
$secondary: #1f2233;
$accent: #e61700;

$body-bg: #fafafa;
$body-color: $secondary;

$link-color: $secondary;
$link-decoration: underline;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1300px
);

$grid-gutter-width: 24px;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.5;
$h2-font-size: $font-size-base * 2.25;

$headings-font-weight: bold;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
