@import 'variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p, li, dd, dt {
  a {
    color: $accent;
    transition: color 0.2s;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0 120px;
}

.container--align {
  position: relative;
}
