$primary: #ffd91a;
$secondary: #1f2233;
$accent: #e61700;

$body-bg: #fafafa;
$body-color: $secondary;

$link-color: $secondary;
$link-decoration: underline;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px,
  xl: 1220px
);

$grid-gutter-width: 24px;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.5;
$h2-font-size: $font-size-base * 2.625;

$headings-font-weight: bold;
