app-project-teaser {
  display: block;
  margin-bottom: 6.25rem;
}



::ng-deep .shape--triangle svg {
  width: 440px;
  height: auto;
  position: absolute;
  margin-top: -4.43em;
  z-index: -1;
  left: 37%;

}

::ng-deep .shape--circle svg {
  width: 460px;
  height: auto;
  position: absolute;
  top: 335px;
  left: 0;
}

::ng-deep .shape--rectangle svg {
  width: 320px;
  height: auto;
  position: absolute;
  left: 0;
}
