<div class="home">
  <app-intro [showShapes]="true" [pre]="preTitle" [title]="title"></app-intro>
  <div class="container container--align">
    <app-shape [shape]="'circle'" [parallaxKey]="'transform: translate(0, %dpx)'" [speed]="1"></app-shape>
    <app-shape [shape]="'triangle'" [parallaxKey]="'transform: translate(0, %dpx)'" [speed]="-4"></app-shape>
    <app-shape [shape]="'rectangle'" [parallaxKey]="'transform: translate(%dpx, 0)'" [speed]="-2"></app-shape>
    <app-shape [shape]="'squiggle'" [parallaxKey]="'stroke-dashoffset: %dpx'" [speed]="-3"></app-shape>
  </div>
  <app-project-teaser [align]="'left'"></app-project-teaser>
  <app-project-teaser [align]="'right'"></app-project-teaser>
</div>

