<div class="project-teaser project-teaser--{{align}}" [ngClass]="{'project-teaser--grid': gridStyle, 'project-teaser--full': !gridStyle}">
  <a [routerLink]="['/projects', project.title_slug]" class="project-teaser__link">
    <img class="project-teaser__image" [src]="project.image.apiPath(gridStyle ? {w: 700} : {h:600})" alt="Test">
    <div class="project-teaser__body">
      <h2>{{project.title}}</h2>
      <div class="project-teaser__text">
        <p>{{project.excerpt}}</p>
      </div>
    </div>
  </a>
</div>
