<div class="project-teaser project-teaser--{{align}}" [ngClass]="{'project-teaser--grid': gridStyle, 'project-teaser--full': !gridStyle}">
  <a [routerLink]="['/projects', 'vhw']" class="project-teaser__link">
    <img class="project-teaser__image" src="/assets/DSC_3737 (1).jpg" alt="Test">
    <div class="project-teaser__body">
      <h2>vhw</h2>
      <div class="project-teaser__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quibusdam quisquam reprehenderit repudiandae unde. Accusamus at enim porro reprehenderit sapiente.</p>
      </div>
    </div>
  </a>
</div>
